/* colors */
/* greens */
$color-brand-green: #025306;
$color-darkest-green: #172d16;
$color-alt-green: #77ab3c;
$color-alt-green-light: #c7eb9d;
$color-blue-dark: #004F96;
$color-sky-blue: #0094fe ;   
$color-sky-blue-light: #36aafc;
$color-orangish: #ab733c;
$color-light-orangish: #ffd6ad;
/* default text color */
$color-text: $color-darkest-green;

/* reverse text color */
$color-text-reverse: #fff;

/* spacing */
$spacing-0: 0;
$spacing-4: 1rem;
$spacing-6: 1.5rem;
$spacing-8: 2rem;
$spacing-12: 3rem;
$spacing-32: 8rem;