---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import kathleen from "../images/profile1.jpg";
---

<Layout
	title="About Kathleen Hill | Pixel Hill Studios"
	description="Read more about Kathleen Hill's web development experience."
>
	<main>
		<section>
			<h1>About Pixel Hill Studios</h1>
			<article>
				<div>
					<Image class="profile" src={kathleen} alt="Kathleen Hill" />
					<div>
						<p>
							Pixel Hill Studios is the creation of Kathleen Hill, an
							accomplished web engineer with a background in graphic design,
							marketing, and over 20 years experience designing, developing, and
							maintaining websites. She is a strategic thinker with a working
							knowledge of the whole user experience, including accessibility
							concepts, performance metrics, and device agnostic techniques.
						</p>
						<p>
							On a personal note, Kathleen is a California native living in the
							San Diego area. She is married with three grown children and a
							rambunctious dog named Luna.
						</p>
					</div>
				</div>
			</article>
		</section>
		<section class="cv">
			<article>
				<h2>Past Work Experience</h2>
				<ul>
					<li>
						<span>WEB ENGINEER</span><br />Best Buy Health Mar 2022 &ndash;
						Mar2024
					</li>

					<li>
						<span>WEB DEVELOPER</span><br />Best Buy Health 2018 &ndash; Mar2022
					</li>

					<li>
						<span>WEB DEVELOPER</span><br />GreatCall, Inc. 2013 &ndash; 2018
					</li>

					<li>
						<span>WEB DEVELOPER, CONSULTANT</span><br />Velasquez &amp;
						Associates Jan 2010 &ndash; Nov 2012
					</li>

					<li>
						<span>WEB DEVELOPER, CONSULTANT</span><br />Flourish Press Jan 2010
						&ndash; Mar 2012
					</li>

					<li>
						<span>WEB DEVELOPER, DESIGNER, CONSULTANT</span><br />Kathleen Hill
						Web Design & Marketing 2001 &ndash; 2013
					</li>
				</ul>
			</article>
			<article>
				<h2>Education</h2>
				<ul>
					<li>
						<span>2001 - 2005 | University of Phoenix</span><br />BSIT, with
						honors
					</li>
					<li>
						<span>2000 - 2001 | Art Institute of California</span><br
						/>Certificate, Web Design
					</li>
					<li>
						<span>1982 - 1983 | La Jolla Academy of Advertising Arts</span><br
						/>Certificate, Advertising and Communications
					</li>
					<li>
						<span>1978 - 1981 | University of California, San Diego</span><br
						/>General Coursework
					</li>
				</ul>
			</article>
		</section>
	</main>
</Layout>

<style lang="scss">
	section {
		padding: 2rem 0;
		margin: 0 auto;

		h1,
		h2 {
			text-align: center;
		}

		&.cv {
			display: flex;
			flex-direction: column;

			h2 {
				text-align: left;
			}

			@media (min-width: 768px) {
				flex-direction: row;
			}
		}

		article {
			display: block;
			padding: 0 1rem;
			margin: 0 auto;

			h2 {
				font-size: 1.75rem;
			}

			img {
				border: 2px solid var(--color-brand-green);
				margin: 1rem auto;
			}

			ul {
				list-style: none;

				li {
					font-size: 1.2rem;
					line-height: 1.2;
					font-weight: 300;
					margin-bottom: 1rem;
				}
			}

			@media (min-width: 1024px) {
				> div {
					margin-top: 2rem;

					div {
						margin-right: 1rem;
					}

					img {
						display: inline;
						float: right;
						margin-left: 1rem;
					}
				}
			}
		}

		@media (min-width: 1024px) {
			width: 75%;
			max-width: 1200px;
		}
	}
</style>
